<header>
  {% if site.logo %}
    <img src="{{ site.logo | relative_url }}" alt="Logo">
  {% endif %}

  <div class="social-links">
    <a href="https://github.com/chenguangduan" target="_blank">
      GitHub
    </a>
    ·
    <a href="https://scholar.google.com/citations?hl=en&user=RpmGgyMAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">
      Google Scholar
    </a>
    ·
    <a href="https://scholar.google.com/citations?hl=en&user=RpmGgyMAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">
      ORCID
    </a>
  </div>
</header>
