---
---

@import "{{ site.theme }}";

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: none;
}

section {
  width: 100%;
  float: none;
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

.sidebar, .sidebar-footer {
  display: none;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }
  
  header, section {
    float: none;
    width: auto;
  }
}

.view a:contains("View My GitHub Profile") {
  display: none;
}

.green-text {
  color: #00797c;
}

.wrapper section {
  font-size: 14pt;
}

html, body {
  font-size: 14px; 
  line-height: 1.25;
}

h1 {
  font-size: 26pt;
  color: #002554; 
}

h2 {
  font-size: 20pt;
  color: #00797c; 
}

h3 {
  font-size: 18pt;
  color: #00797c; 
}

h4, h5, h6 {
  font-size: 14pt;
  color: #00797c;  
}

header p, header ul {
  font-size: 14pt;
}

footer {
  font-size: 14pt;
}

