---
---

@import "{{ site.theme }}";

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  width: 75%;
  float: right;
}

header {
  width: 20%;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }
  
  header, section {
    float: none;
    width: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #002554; 
}

.green-text {
  color: #00797c;
}

html, body {
  font-size: 18px; 
}

.wrapper section {
  font-size: 1.1em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4, h5, h6 {
  font-size: 1.2em;
}

header p, header ul {
  font-size: 1em;
}

footer {
  font-size: 0.9em;
}

